header {
    text-align: center;
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('data/image.jpeg');
    background-color: #f4f4f4;
    color: #414141; /* Standard Textfarbe */
}

main {
    margin: 3.5%;
    padding: 0;
    overflow-x: auto;
    /* Ermöglicht horizontales Scrollen, wenn nötig */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Berücksichtigt Padding und Border in der Gesamtbreite */
}

th,
td {
    border: 1px solid rgb(28, 28, 28);
    padding: 8px;
    text-align: center;
    color: rgb(202, 202, 202);
}

th {
    background-color: #000000;
}

tr:nth-child(even) {
    background-color: rgba(20, 19, 20, 255);
    /* Helle Hintergrundfarbe für jede gerade Zeile */
}

tr:nth-child(odd) {
    background-color: rgba(42, 41, 41, 255);
    /* Dunklere Hintergrundfarbe für jede ungerade Zeile */
}

@media (min-width: 600px) {
    tr:hover {
        background-color: #8e8e8e;
    }
}


/* Schriftgröße auf Handys kleiner machen und 2. und 3. Spalte ausblenden */

@media (max-width: 768px) {
    th,
    td {
        font-size: 0.90em;
        /* Schriftgröße auf 75% der Standardgröße reduzieren */
    }
    td:nth-child(2),
    th:nth-child(2),
    td:nth-child(3),
    th:nth-child(3) {
        display: none;
        /* Verstecke die 2. und 3. Spalte auf Handys */
    }
    table {
        overflow-x: auto;
        /* Ermöglicht horizontales Scrollen */
        white-space: nowrap;
        /* Verhindert das Umbruchverhalten in der Tabelle */
        width: auto;
        /* Verhindert, dass die Tabelle mehr Platz einnimmt als nötig */
        min-width: 100%;
        /* Stellt sicher, dass die Tabelle mindestens die Breite des Containers hat */
    }
    body {
        background-image: url('data/image2.jpeg');
    }
}


/* Standardmäßig ist die mobile Ansicht ausgeblendet */
.mobile-table {
    display: none;
}

.desktop-table {
    display: table;
}

/* Mobile Ansicht aktivieren bei kleinen Bildschirmen */
@media (max-width: 768px) {
    .desktop-table {
        display: none; /* Desktop-Tabelle ausblenden */
    }

    .mobile-table {
        display: block; /* Mobile-Tabelle anzeigen */
    }

    .mobile-row {
        margin-bottom: 20px;
        padding: 10px;
        background-color: rgba(20, 19, 20, 255); /* Hintergrundfarbe wie ungerade Zeilen */
        border: 1px solid rgb(28, 28, 28); /* Rahmenfarbe wie normale Tabelle */
    }

    .mobile-row:nth-child(even) {
        background-color: rgba(42, 41, 41, 255); /* Hintergrundfarbe wie gerade Zeilen */
    }

    .mobile-header {
        font-weight: bold;
        margin-bottom: 10px;
        padding: 8px;
        background-color: #000000; /* Hintergrundfarbe wie Tabellenkopf */
        color: rgb(202, 202, 202); /* Schriftfarbe wie Tabellenkopf */
        border-bottom: 1px solid rgb(28, 28, 28); /* Rahmenfarbe wie normale Tabelle */
    }

    .mobile-cell {
        margin-bottom: 5px;
        padding: 8px;
        color: rgb(202, 202, 202); /* Schriftfarbe wie normale Tabelle */
        border-bottom: 1px solid rgb(28, 28, 28); /* Rahmenfarbe wie normale Tabelle */
    }

    .mobile-cell:last-child {
        border-bottom: none;
    }
}


/* Allgemeine Stile für den Link */

.dark-button {
    display: inline-block;
    padding: 10px 22px;
    /* Abstände innen */
    background-color: #333;
    /* Dunkler Hintergrund */
    color: #fff;
    /* Weißer Text */
    font-size: 13px;
    /* Textgröße */
    font-family: 'Arial', sans-serif;
    /* Schriftart */
    text-align: center;
    /* Text zentrieren */
    text-decoration: none;
    /* Entfernt die Standard-Unterstreichung */
    border-radius: 8px;
    /* Abgerundete Ecken */
    transition: background-color 0.3s, transform 0.3s;
    /* Sanfte Übergänge */
}


/* Hover-Effekt */

.dark-button:hover {
    background-color: #444;
    /* Etwas hellerer Hintergrund beim Hover */
    transform: translateY(-2px);
    /* Leichte Anhebung des Buttons */
}


/* Fokussierungseffekt (z.B. bei Tastaturinteraktion) */

.dark-button:focus {
    outline: none;
    /* Entfernt den Standard-Fokusrahmen */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
    /* Fokussierung mit leichter Umrandung */
}


/* Aktivierter Zustand (wenn der Button gedrückt wird) */

.dark-button:active {
    background-color: #222;
    /* Dunklerer Hintergrund, wenn der Button geklickt wird */
    transform: translateY(0);
    /* Der Button kehrt in seine ursprüngliche Position zurück */
}


/* Media Query für mobile Geräte */

@media (max-width: 600px) {
    .dark-button {
        padding: 9px 17px;
        /* Kleinere Innenabstände */
        font-size: 14px;
        /* Kleinere Schriftgröße auf Mobilgeräten */
    }
}


/* Allgemeine Stile für die Pfeil-Buttons */

.arrow-button {
    display: inline-block;
    padding: 10px 18px;
    /* Kleinere Innenabstände für den Button */
    background-color: #333;
    /* Dunkler Hintergrund */
    color: #fff;
    /* Weißer Text */
    font-size: 16px;
    /* Kleinere Schriftgröße für den Button */
    text-align: center;
    /* Text zentrieren */
    text-decoration: none;
    /* Entfernt die Standard-Unterstreichung */
    border-radius: 20px;
    /* Abgerundete Ecken für einen weicheren Look */
    transition: background-color 0.3s, transform 0.3s;
    /* Sanfte Übergänge */
    margin: 10px;
    /* Abstand zu anderen Elementen */
}


/* Hover-Effekt */

.arrow-button:hover {
    background-color: #444;
    /* Etwas hellerer Hintergrund beim Hover */
    transform: scale(1.1);
    /* Leichte Vergrößerung des Buttons */
}


/* Fokussierungseffekt (z.B. bei Tastaturinteraktion) */

.arrow-button:focus {
    outline: none;
    /* Entfernt den Standard-Fokusrahmen */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
    /* Fokussierung mit leichter Umrandung */
}


/* Aktivierter Zustand (wenn der Button gedrückt wird) */

.arrow-button:active {
    background-color: #222;
    /* Dunklerer Hintergrund, wenn der Button geklickt wird */
    transform: scale(1);
    /* Button kehrt in seine ursprüngliche Größe zurück */
}


/* Pfeile links und rechts unterscheiden */

.left-arrow {
    margin-right: 12px;
    /* Etwas Abstand nach rechts */
    font-size: 14px;
    /* Kleine Pfeilgröße */
}

.right-arrow {
    margin-left: 12px;
    /* Etwas Abstand nach links */
    font-size: 14px;
    /* Kleine Pfeilgröße */
}

.leer {
    color: forestgreen;
}


/* Mobile Ansicht - Buttons kleiner auf Smartphones */

@media (max-width: 600px) {
    .arrow-button {
        padding: 6px 12px;
        /* Noch kleinere Innenabstände */
        font-size: 14px;
        /* Noch kleinere Schriftgröße für den Button auf Mobilgeräten */
    }
    /* Pfeile auf Mobilgeräten noch kleiner */
    .left-arrow,
    .right-arrow {
        font-size: 12px;
        /* Noch kleinere Pfeile auf Mobilgeräten */
    }
}


/* Popup */
.popup {
    display: none; /* Standardmäßig ausgeblendet */
    position: fixed; /* Fixiert das Popup relativ zum Viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Zentriert das Popup horizontal und vertikal */
    z-index: 1000; /* Stellt sicher, dass das Popup über anderen Elementen liegt */
    background-color: rgba(78, 78, 78, 114); /* Dunkler Hintergrund */
    color: rgb(202, 202, 202); /* Helle Schriftfarbe */
    padding: 20px;
    border: 1px solid rgb(28, 28, 28); /* Rahmenfarbe wie Tabelle */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Schatten für Tiefe */
    width: 90%; /* Breite für mobile Geräte */
    max-width: 400px; /* Maximale Breite für größere Bildschirme */
    text-align: center;
    border-radius: 10px; /* Abgerundete Ecken */
    box-sizing: border-box; /* Padding und Border in die Gesamtgröße einbeziehen */
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333; /* Dunkler Hintergrund */
    color: #fff; /* Helle Schriftfarbe */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Padding und Border in die Gesamtgröße einbeziehen */
}


.popup .close-btn:hover {
    background-color: #444; /* Etwas hellerer Hintergrund beim Hover */
}

/* Popup-Inhalt */
#popup-content {
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.5;
}

/* Mobile Anpassungen */
@media (max-width: 768px) {
    .popup {
        width: 95%; /* Breitere Darstellung auf kleinen Bildschirmen */
        max-width: none; /* Keine maximale Breite auf Handys */
    }

    .popup .close-btn {
        font-size: 16px; /* Größerer Button für Touch-Geräte */
    }
}























*/

.home-button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    /* Abgerundete Ecken */
    box-shadow: 0 4px 6px rgba(48, 48, 48, 0.476);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgb(52, 52, 52);
}

.home-button:hover {
    background-color: rgb(56, 56, 56);
    /* Etwas hellerer Hintergrund beim Hover */
    transform: scale(1.1);
    /* Leichte Vergrößerung des Buttons */
}

.home-button img {
    width: 24px;
    height: 24px;
}


/*










*/

.trans-box {
    width: 80%;
    /* Die Box ist 80% der Breite des Containers */
    height: 80%;
    /* Die Box ist 80% der Höhe des Containers */
    background-color: rgba(143, 143, 143, 0.5);
    /* Graue Box mit 50% Transparenz */
    border-radius: 15px;
    /* Abgerundete Ecken */
    margin-left: 1%;
    margin-right: 1%;
    text-align: left;
    margin-top: 20px;
    /* Abstand von 10% zum Rand */
    padding: 0.1%;
    padding-left: 1%;
    /* Abstand zwischen dem Inhalt und dem Rand der Box */
    box-sizing: border-box;
    /* Sorgt dafür, dass Padding und Border die Gesamtgröße der Box nicht beeinflussen */
}
.bearbeiten {
    width: 100%;
    /* Die Box ist 100% der Breite des Containers */
    height: 100%;
    /* Die Box ist 100% der Höhe des Containers */
    background-color: rgba(143, 143, 143, 0.5);
    /* Graue Box mit 50% Transparenz */
    border-radius: 15px;
    /* Abgerundete Ecken */
    margin-left: 1%;
    margin-right: 1%;
    text-align: left;
    margin-top: 20px;
    /* Abstand von 10% zum Rand */
    padding: 0.1%;
    padding-left: 1%;
    /* Abstand zwischen dem Inhalt und dem Rand der Box */
    box-sizing: border-box;
    /* Sorgt dafür, dass Padding und Border die Gesamtgröße der Box nicht beeinflussen */
    position: absolute; /* Positioniert die Box relativ zum nächsten positionierten Vorfahren */   }